<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <!-- <li>Krillin - 700</li>
            <li>Goku - 15,000</li>
            <li>Vegeta - 8,500</li> -->
            <li *ngFor="let personaje of personajes">
                {{personaje.nombre}} - {{personaje.poder | number}} <!-- el | es un pipe que sirve para formatear7transformar visualmente la informacion que se muestra-->
            </li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar <small>{{nuevo.nombre}}</small></h3>
        <hr>
        <!-- 
            ( ) es para emitir/escuchar eventos
            [ ] es para agregar/enlazar/establecer un valor a una propiedad
            [( )] escuchar y emitir ese evento, y lo que se produzca se asignara en tiempo real a la propiedad que definamos
        -->
        <form (ngSubmit)="agregar()"><!--ngSubmit ejecuta la llamada a la funcion,evita el refresh del navegador al producirse el evento submit-->
            <input 
            type="text" 
            placeholder="Nombre"
            name="nombre"
            [(ngModel)]="nuevo.nombre"
            >
            <!-- hacer lo sig es como utilizar [(ngModel)]:
                [value]="nuevo.nombre"
                (input)="cambiarNombre( $event )"
             -->
            <input 
            type="text" 
            placeholder="Poder"
            name="poder"
            [(ngModel)]="nuevo.poder"
            >

            <button type="submit">
                Agregar
            </button>
        </form>

    </div>
</div>
