<h1>Hola Mundo</h1>
<!-- trabajando con clases de Bootstrap-->
<div class="d-flex"><!-- lo que contenga dentro el div lo pone uno al lado del otro-->
  <!-- 
    bg-dark : cambia el fondo a oscuro
    border-rigth : pone borde a la derecha
    p-3 : padding en 3px
  -->

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  
  <!-- End Sidebar --> 

  <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
      

    </div>
    <hr>

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet sint enim, voluptatum aliquam blanditiis cumque omnis ad harum amet deleniti sed! Natus aspernatur deserunt dicta numquam debitis provident sed commodi.
      </div>
    </div>

  </div>


</div>
